@import "compass/css3"
@import "compass/reset"
@import "compass/typography"

$spacer: 10px
$lemon-green: #bbcc20
body
	font-family: Lato


.container
	margin-top: $spacer*2
	width: 100%
	max-width: 1000px
	margin: 0 auto
	box-shadow: 0 0 10px rgba(0,0,0,0.1)
	position: relative
	overflow: hidden

.sidebar
	width: 300px
	//position: absolute
	top: 0
	right: 0

article
	margin-bottom: $spacer*2
	padding-bottom: $spacer*2
	border-bottom: 1px solid $lemon-green
	height: 100%
a.article
	text-decoration: none
h1
	color: #343434
	font-size: 1.2em
	margin-bottom: $spacer
	text-transform: uppercase

.featured
	margin-bottom: $spacer


	margin-top: $spacer*2

.loading
	display: none

li
	width: 100%
	height: 100%
