doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
		link(rel="stylesheet" href="css/styles.css")
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,400,700')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oswald')
		script(src='js/jquery-1.8.3.min.js')
		script(src="js/scripts.js")
		body
			div.container#content
				article(data-url="2.html" data-title="pagina2.html")
					h1 Titulo articulo 2
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas. 
					p Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.
					p Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.
					p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris tincidunt nisi in tortor tincidunt ut ullamcorper lectus dapibus.utpat dui nibh quis metus.
					p Morbi eget tristique dui. Vivamus nec turpis eu nisi euismod accumsan sed in tortor. Maecenas laoreet leo ut tortor viverra facilisis.

