doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
		link(rel="stylesheet" href="css/styles.css")
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,400,700')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oswald')
		script(src='js/jquery-1.8.3.min.js')
		script(src="js/scripts.js")
		body
			div.container#content
				article(data-url="3.html" data-title="pagina3.html")
					h1 TITULO 3 DESPIDEN PISTONES A SU ENTRENADOR 
					.panel-article
						.featured
							img(src="http://lorempixel.com/600/500/sports/2")
						.content
							p Pese a que ganó sus últimos dos juegos, Maurice Cheeks fue despedido.
							p Los Pistones de Detroit anunciaron este domingo el despido de su entrenador Maurice Cheeks, pese a las dos victorias seguidas logradas en los últimos partidos y la remontada en la tabla de posiciones del campeonato de la NBA.
							p Después de un decepcionante inicio de la temporada y 50 partidos al frente de la franquicia, con récord de 29 victorias y 21 derrotas, Cheeks parecía haber encaminado a su equipo por el triunfo, tras ascender al noveno lugar en la Conferencia Este, con una victoria el sábado sobre los Bobcats de Charlotte.
							p "Nuestra calificación no refleja nuestro talento y sólo tenemos que cambiar", dijo el dueño de los Pistones, Tom Gores.
							p El club, tercero en la División Central, no dijo quién reemplazaría a Cheeks, que había entrenado previamente a Portland (2001-2005) y Filadelfia (2005-2009), a los que clasificó a los playoffs en 2002, 2003 y 2008.
					.panel-lastest-news
						h2
							span Noticias Relacionadas
					.panel-lastest-videos
						h2 
							span Videos Relacionadas

