doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
		link(rel="stylesheet" href="css/styles.css")
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,400,700')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oswald')
		script(src='js/jquery-1.8.3.min.js')
		script(src="js/scripts.js")
		//script(src="js/miscript.js")	
		body
			div.container#content

			
			.loading#loading 
				p Espere un momento...!
			.loading#nomoreresults
				p Lo sentimos no hay mas articulos.
